
header{
    width: 100%;
}
nav{
    border:double 13px;
    color: aliceblue;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    border-color: rgba(128, 128, 128, 0.212);
}
ul a{
    width: 100%;
    padding: 40px;
    font-size: 25px;
    color: rgb(243, 241, 241);
    border-radius: 20px;
    transition-duration: 1s;
}
#iframeindex{
    border: double;
    border-radius: 15px;
}
.logo{
    height: 130px;
    padding:30px;
    border-radius: 1000px;
}

a{
    transition-duration: 1s;
    text-decoration: none;
    color: rgb(137, 231, 243);
}

aside a:hover{
    color:rgb(163, 47, 47)
}
ul a:hover{
    color: black;
    background-color: aliceblue;
    font-size: 30px;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


body{
    overflow-x: hidden;
    background-color: rgba(48, 98, 173, 0.329);
}
h1 {
    background-color: black;
    border-radius: 30px;
    color: aliceblue;
    width: 100%;
    height: 100px;
    text-align: center;
    border: double 12px;
    border-color: rgba(128, 128, 128, 0.212);
    padding-top: 60px;
    margin-top:50px;
    transition-duration: 1s;
}
h1:hover {
    height: 150px;
    font-size: 40px;
    text-align: center;
}

.grilla {
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 0,5fr 1fr 1fr ;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
     ;
     grid-row-gap: 5px;
     grid-column-gap: 10px;
}

header {
    height: 180px;
    grid-area: header;
}




main {
    display: grid;
    grid-template-columns: 2,5fr 0,5fr;
    grid-template-rows:0,5fr 1fr 1fr;
    grid-template-areas:
    "titulo titulo titulo"
   "seccion seccion aside"
    "seccion seccion aside" ;
    grid-area:main;
    grid-row-gap: 13px;
    grid-column-gap: 13px;
}

.seccion1A{
    border:double 12px;
    background-color: black;
    color: aliceblue;
    border-color: rgba(128, 128, 128, 0.212);
    grid-area: seccion;
    border-radius: 30px;
    padding:5px
}

.parraVideo{
    display: flex;
}


.titulo{
    grid-area:titulo
}

aside {
    background-color: black;
    border:double 12px;
    border-color: rgba(128, 128, 128, 0.212);
    color: aliceblue;
    text-align: center;
    grid-area: aside;
    border-radius: 30px;
}

aside h3 {
    text-decoration-line: underline;
}


footer {
    border: double;
    border-color: black;
    margin: 20px;
    border-radius: 15px;
    grid-area: footer
}
footer ul{
    display: flex;
    justify-content: space-around;
}


/*contacto*/

#bodycontacto {
    display: grid;
    grid-template-columns: 1fr 1fr 0,5fr;
    grid-template-rows:0,5fr 1fr 1fr;
    grid-template-areas: 
    "headerc headerc headerc"
    "mainc mainc mainc"
    "footerc footerc footerc";
}
#maincontacto{
    grid-area: mainc;
}
#headercontacto{
    grid-area: headerc;
}
#footercontacto{
    grid-area: footerc;
}

#maincontacto {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 0,5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "tituloc tituloc tituloc"
    "sectionc sectionc asidec"
    "sectionc sectionc asidec"
    "sectionc sectionc asidec";
}


.titulocontacto{
    grid-area: tituloc;
}

#sectionc{
    border:double;
    border-radius: 30px;
    grid-area: sectionc;
}
.asidecontacto{
    grid-area: asidec;
}


/*personajes*/


#personaje{
    height: 230px;
    width: 240px;
    border:double;
    border-radius: 20px;
    margin: 15px;
    transition-duration: 1s;
}
#personaje:hover{
    height: 235px;
    width: 245px;
}

#articulopersonaje{
    display: flex;
    height: 450px;
    width: 850px;
    padding:10px;
    justify-content: center;
    align-items: center; 
    border: double;
    border-radius: 20px;
    transition-duration: 1s;
}
#articulopersonaje:hover{
    color: aliceblue;
    height:500px;
    width:900px;
    background-color: black;
}

#bodypersonajes{
    display: grid;
    grid-template-columns:1fr 1fr 0,5fr;
    grid-template-rows: 1fr 1fr 1fr 0,5fr;
    grid-template-areas:
    "headerp headerp headerp"
    "mainp mainp mainp"
    "mainp mainp mainp"
    "footerp footerp footerp" ;
}

#headerpersonajes{
    grid-area: headerp;
}
#mainpersonajes{
    grid-area: mainp;
}
#footerpersonajes{
    grid-area: footerp;
}

#mainpersonajes{
    display: grid;
    grid-template-columns: 1fr 1fr 0,5fr;
    grid-template-rows: 0,5 fr 1 fr 1 fr 1fr;
    grid-template-areas: 
    "titulop titulop titulop"
    "sectionp sectionp asidep"
    "sectionp sectionp asidep"
    "sectionp sectionp asidep";
}
#asidepersonajes{
    grid-area: asidep;
}

#sectionpersonajes{
    grid-area: sectionp;
}
#titulopersonajes{
    grid-area: titulop;
}
#parrafopersonajes{
    grid-area: parrafop;
}
 
/*historia*/
#bodyhistoria{
    display: grid;
    grid-template-columns: 1fr 1fr 0,5fr;
    grid-template-rows: 0,5fr repeat(2, 1fr) 0,5fr;
    grid-template-areas:
    "headerhistoria headerhistoria headerhistoria"
    "mainhistoria mainhistoria mainhistoria"
    "mainhistoria mainhistoria mainhistoria"
    "footerhistoria footerhistoria footerhistoria";
}

#headerhistoria{
    grid-area: headerhistoria;
}
#mainhistoria{
    grid-area: mainhistoria;
}
#footerhistoria{
    grid-area: footerhistoria;
}

#mainhistoria{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr  0,005fr;
    grid-template-rows: 0,5fr 0,5fr 0,5fr 1fr;
    grid-template-areas: 
    "titulohistoria titulohistoria titulohistoria"
    "subtitulohistoria subtitulohistoria subtitulohistoria"
    "sinopsishistoria sinopsishistoria sinopsishistoria"
    "sectionhistoria sectionhistoria asidehistoria";
}

#titulohistoria{
    grid-area: titulohistoria;
}
#subtitulohistoria{
    text-align: center;
    border: solid;
    border-color: rgb(170, 38, 38);
    grid-area: subtitulohistoria;
}

#sinopsishistoria{
    font-size: 20px;
    grid-area: sinopsishistoria;
}
#sectionhistoria{
    text-align: center;
    border: double;
    border-radius: 20px;
    grid-area: sectionhistoria;
}
#asidehistoria{
    grid-area: asidehistoria;
}

/*pelicula*/

#bodypelicula {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0,5fr;
    grid-template-areas: 
    "headerpelicula headerpelicula headerpelicula"
    "mainpelicula mainpelicula mainpelicula"
    "footerpelicula footerpelicula footerpelicula";
}

#headerpelicula{
    grid-area: headerpelicula;
}

#mainpelicula{
    grid-area: mainpelicula;
}
#footerpelicula{
    grid-area: footerpelicula;
}

#mainpelicula{
    display:grid;
    grid-template-columns: 1fr 1fr 0,5fr;
    grid-template-rows: 0,5fr 1fr 1fr 1fr;
    grid-template-areas:
    "titulopelicula titulopelicula titulopelicula"
    "sectionuno sectionuno asidepelicula"
    "sectiondos sectiondos asidepelicula"
    "sectiontres sectiontres asidepelicula" ;
}
#titulopelicula{
    grid-area: titulopelicula;
}
#sectionuno{
    font-size: 23px;
    grid-area: sectionuno;
}
#sectiondos{
    display: flex;
    font-size: 20px;
    grid-area: sectiondos;
    border: double;
    border-radius: 20px;
}
#sectiontres{
    border-radius: 20px;
    border: double;
    grid-area: sectiontres;
}
#asidepelicula{
    grid-area: asidepelicula;
}
#silver{
    height: 230px;
    width: 240px;
    border:double;
    border-radius: 20px;
    margin: 15px;
    transition-duration: 1s;
}
#nash{
    height: 240px;
    width: 270px;
    border:double;
    border-radius: 20px;
    margin: 15px;
    transition-duration: 1s;
}
#antagonistas{
    text-align: center;
}
.malos {
    display: flex;
    font-size: 20px;
}

#videopelicula{
    display: flex;
    text-align: start;
}


/* vista celular*/



